In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

"done"

'done'

# README

This notebook analyses the atom types of the atom covalently bound to the halogen.

In [2]:
# read
dfs = {"cl": pd.read_csv("../chlorine/nbonds.csv"),
        "br": pd.read_csv("../bromine/nbonds.csv"),
        "i": pd.read_csv("../iodine/nbonds.csv")}
"done"

'done'

In [3]:
dfs["cl"].head()

,mol,n_atoms,max_dist,type1,d0num,d0mean,d0std,d1num,d1mean,d1std,d2num,d2mean,d2std,d3num,d3mean,d3std,d4num,d4mean,d4std
0,ZINC00000061,27,9,ca,1,-0.22250,NaN,1,0.27989,NaN,2,-0.12203,0.00000,4,0.01627,0.02706,3,0.00455,0.00931
1,ZINC00000134,24,6,c3,1,-0.14603,NaN,1,0.34186,NaN,3,-0.09519,0.01613,4,0.00345,0.01036,5,0.01162,0.01628
2,ZINC00000135,25,11,ca,1,-0.20457,NaN,1,0.24507,NaN,2,-0.10120,0.00000,4,0.01046,0.02757,3,0.01004,0.00256
3,ZINC00000136,29,13,ca,1,-0.21023,NaN,1,0.26162,NaN,2,-0.11643,0.00000,4,0.01741,0.02371,3,0.00648,0.00096
4,ZINC00000178,31,8,ca,1,-0.18029,NaN,1,0.21008,NaN,2,-0.09254,0.01380,4,0.01325,0.01790,6,0.00168,0.01389

In [4]:
df = dfs["i"]
df[df["n_atoms"] == 11]

,mol,n_atoms,max_dist,type1,d0num,d0mean,d0std,d1num,d1mean,d1std,d2num,d2mean,d2std,d3num,d3mean,d3std,d4num,d4mean,d4std
877,ZINC00967270,11,6,ca,1,-0.44617,NaN,1,0.67026,NaN,2,-0.35907,0.0,4,0.091,0.00125,1,-0.08397,NaN

# Atom Types

In [5]:
hals = "cl br i".split()

for hal in hals:
    df = dfs[hal]
    
    print("---", hal)
    print(df["type1"].value_counts())

--- cl
ca    225
c3     28
cd     12
cc      9
cf      1
c2      1
Name: type1, dtype: int64
--- br
ca    749
c3    178
cd    105
cc     73
c2      6
cf      5
ce      2
c1      1
cx      1
Name: type1, dtype: int64
--- i
ca    778
cd     74
cc     39
c3     22
c1      1
c2      1
Name: type1, dtype: int64

In [6]:
# initialize
hals = "cl br i".split()
sum_all = 0
sum_sp3 = 0

for hal in hals:
    df = dfs[hal]
    
    sp3 = df[df["type1"] == "c3"] + df[df["type1"] == "cx"]
    sp3_fraction = len(sp3) / len(df)
    
    print("sp3", hal, f"{len(sp3):.0f}/{len(df):.0f}) = {sp3_fraction:.4f}")
    
    sum_all += len(df)
    sum_sp3 += len(sp3)
    
print(f"{sum_sp3:.0f}/{sum_all:.0f} = {sum_sp3/sum_all:.4f}")

sp3 cl 28/276) = 0.1014
sp3 br 179/1120) = 0.1598
sp3 i 22/915) = 0.0240
229/2311 = 0.0991

# Number of atoms

In [7]:
n_atoms_all = []

for hal in hals:
    df = dfs[hal]
    
    n_atoms = df["n_atoms"]
    
    print(hal, np.median(n_atoms))
    
    n_atoms_all.append(n_atoms)

cl 26.0
br 24.0
i 27.0

In [8]:
print(np.shape(n_atoms_all))
n_atoms_all = np.concatenate(n_atoms_all)
print(np.shape(n_atoms_all))
print("all", np.median(n_atoms_all))

(3,)
(2311,)
all 26.0